<app-general-header></app-general-header>
<div class="container">
  <div class="logo-container"></div>
  <form class="form" (ngSubmit)="onRegister()">
    <div>
      <input type="text" class="nombre-completo" placeholder="Nombre completo" [(ngModel)]="nombre" name="nombreCompleto" required>
    </div>
    <div>
      <input type="email" class="correo" placeholder="Correo Electrónico" [(ngModel)]="correo" name="correo" required>
    </div>
    <div>
      <input type="text" class="identificacion" placeholder="Identificación" [(ngModel)]="id" name="id" required>
    </div>
    <div>
      <input type="password" class="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      <input type="password" class="confirmar-contrasena" placeholder="Confirmar contraseña" [(ngModel)]="confirmarPassword" name="confirmarPassword" required>
    </div>
    <div class="button-container">
      <button type="button" class="cancelar-boton" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="aceptar-boton">Aceptar</button>
    </div>
  </form>
</div>
