header {
  background-color: #344E41;
  align-items: center;
  align-content: center;
}

.header-logo-fluid{
  position: inherit;
  margin-top: 0px;
  margin-left: 40px;
  width: 170px;
  height: 60px;
}

.logout{
  color: white;
  margin-left: 1150px;
  border: none;
  text-decoration: underline;
}
