<app-modal-reservation></app-modal-reservation>
<div class="col-12 container-fluid d-flex flex-column">
  <!-- Barra de búsqueda -->
  <div class="row">
    <div class="col-12 search-container">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Buscar sala o laboratorio..."
        [(ngModel)]="filtroBusqueda"
        (input)="filtrarSalas()"
      />
    </div>
  </div>

  <!-- Salas de computo -->
  <div class="row align-items-start">
    <div class="row label1">
      <label>Salas de computo</label>
    </div>

    <div class="col-12 salas">
      <div class="cards-container d-flex flex-nowrap align-items-center">
        <div
          class="card align-content-lg-center cards"
          *ngFor="let sala of salasFiltradas"
          style="width: 11rem; height: 11rem;">
          <img src="assets/reservation-black-small.png" class="card-img-top">
          <div class="card-body d-flex flex-column align-items-center">
            <h6 class="card-title title">{{ sala.nombre }}</h6>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onReservarClick(sala.nombre)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Reservar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Laboratorios -->
  <div class="row label1">
    <label>Laboratorios</label>
  </div>

  <div class="row">
    <div class="col-12 salas">
      <div class="cards-container d-flex flex-nowrap align-items-center">
        <div
          class="card align-content-lg-center cards"
          *ngFor="let laboratorio of laboratoriosFiltrados"
          style="width: 11rem; height: 11rem;">
          <img src="assets/reservation-black-small.png" class="card-img-top">
          <div class="card-body d-flex flex-column align-items-center">
            <h6 class="card-title title">{{ laboratorio.nombre }}</h6>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onReservarClick(laboratorio.nombre)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Reservar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Imagen al final -->
  <div class="row">
    <div class="col imagen-container">
      <img src="assets/home-roomux.png" class="imagen-100">
    </div>
  </div>
</div>
