<div class="col-12 container-fluid d-flex flex-column listcontainer">
  <div class="container-fluid d-flex reservations">
    <h2 class="tus-reservas">Tus Reservas</h2>
  </div>

  <!-- Verificamos si hay reservas -->
  <div *ngIf="reservas.length === 0" class="no-reservas">
    <p class="no-reservation">No tienes reservas.</p>
  </div>

  <!-- Recorremos las reservas y mostramos cada una -->
  <div *ngFor="let reserva of reservas" class="container-fluid d-flex reservation1">
    <label>{{ reserva.nombreSala }}</label> <!-- Muestra el nombre de la sala -->
    <span>{{ reserva.fechaInicio | date:'yyyy-MM-dd' }}</span> <!-- Muestra las fechas -->

    <!-- Botón de Eliminar -->
    <button
      type="button"
      class="btn eliminar-button"
      (click)="eliminarReserva(reserva.identificador)">
      Eliminar
    </button>
  </div>
</div>
