<div class="col-12 container-fluid d-flex flex-column listcontainer">
  <div class="container-fluid d-flex reservations">
    <h2 class="tus-reservas">Tus Reservas</h2>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>EDC</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Productividad</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Fisica</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Control</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Innova</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Productividad</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Redes</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
  <div class="container-fluid d-flex reservation1">
    <label>Telecomunicaciones</label>
    <button type="submit" class="btn eliminar-button">Eliminar</button>
  </div>
</div>


