<app-general-header></app-general-header>
<div class="container-fluid">
  <div class="row w-100">
    <div class="col-3"></div>
    <div class="col-4 no-margin-right">
      <div class="container-fluid d-flex flex-column justify-content-center logo-container">
        <img src="assets/logo roomux.png" alt="logo" class="img-fluid center-logo">
        <label class="no-tienes-cuenta mb-2">¿No tienes cuenta?</label>
        <button class="btn btn-outline-light mt-3 btn-md registrarse-button" (click)="onRegister()">Registrarse</button>
      </div>
    </div>
    <div class="col-4 no-margin-left form-container">
      <!-- Agrega el evento (ngSubmit) al formulario para llamar a onLogin() -->
      <form class="form-fluid login" (ngSubmit)="onLogin()">
        <div class="form-group text-center">
          <label for="usuario" class="d-flex flex-column align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-fluid bi-person user-image" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
            <!-- Enlaza el campo de correo electrónico con [(ngModel)] -->
            <input type="email" class="form-control my-2 email-input" placeholder="Usuario" required [(ngModel)]="correoElectronico" name="correoElectronico">
          </label>
        </div>
        <div class="form-group text-center">
          <label for="password" class="d-flex flex-column align-items-center">
            <img src="assets/CONTRASEÑA.png" alt="password" class="password-logo">
            <!-- Enlaza el campo de contraseña con [(ngModel)] -->
            <input type="password" id="password" class="form-control my-2 password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
          </label>
        </div>
        <div>
          <button type="submit" class="btn aceptar-button">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
