body, html {
  margin: 0;
  padding: 0;
}

.footer{
  background-color: #344E41;
  color: #fff;
  text-align: center;
  align-items: center;
}

.footer-logo{
  width: 200px;
  margin-top: 20px;
}

.footer-text{
  margin: 0;
}

